<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      <div class="nav-wrapper">
        <div class="name-heading home-page">
          Sara
        </div>
        <div class="navigation-links">
          <a href="/about" class="nav-link">About</a>
          <a href="/works" class="nav-link">Selected Works</a>
          <a href="/contact" class="nav-link">Contact</a>
        </div>
        <div class="name-gif">
          SARA
        </div>
      </div>

      <div class="page-content">
        {{ content }}
      </div>
    </div>

  </body>

</html>
