<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      <div class="nav-wrapper">
        <div class="name-heading home-page">
          Sara
        </div>
        <div class="navigation-links">
          <a href="/about" class="nav-link">ABOUT</a>
          <a href="/works" class="nav-link">SELECTED WORKS</a>
          <a href="/contact" class="nav-link">CONTACT</a>
        </div>
        <div class="name-gif">
          <img src="{{site.url}}/img/sara.gif" />
        </div>
      </div>

      <div class="page-content">
        {{ content }}
      </div>
    </div>

  </body>

</html>
